<section id="about">
    <div class="container uk-text-center">
        <div class="row">
            <div class="col-lg-12 uk-text-center">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="uk-grid">

                {% for about in page.header.abouts %}
        
                    {% if about.align == 'right' %}


                        <div class="uk-width-medium-2-5 uk-hidden-small">
                            &nbsp;
                        </div>

                        <div class="uk-width-medium-1-5 uk-hidden-small uk-vertical-align-middle ">
                            {% if page.media[about.img] %}
                            <img class="uk-thumbnail uk-align-center uk-border-circle uk-vertical-align-middle" src="{{ page.media[about.img].url }}" alt="">
                            {% else %}
                            <h4 class="uk-containter-center uk-text-center uk-border-circle uk-vertical-align-middle">{{ about.alttext }}</h4>
                            {% endif %}
                        </div>

                        <div class="uk-width-medium-2-5 uk-hidden-small uk-vertical-align-top">
                            <p class="uk-clearfix">
                                <h4 class="timeline-heading uk-align-left">{{ about.heading }}</h4>
                                <h4 class="uk-subheading uk-align-left">{{ about.subheading }}</h4>
                                <p class="uk-text-muted uk-align-left">{{ about.body }}</p>
                            </p>
                            
                        </div>



                        <div class="uk-width-small-2-5 uk-hidden-medium uk-hidden-large uk-vertical-align-middle uk-text-center">
                            {% if page.media[about.img] %}
                            <img class="uk-thumbnail uk-align-center uk-border-circle uk-vertical-align-middle" src="{{ page.media[about.img].url }}" alt="">
                            {% else %}
                            <h4 class="uk-text-center">{{ about.alttext }}</h4>
                            {% endif %}
                        </div>

                        <div class="uk-width-small-3-5 uk-hidden-medium uk-hidden-large uk-vertical-align-top uk-text-center">
                            <p class="uk-clearfix uk-align-center">
                                <h4 class="timeline-heading uk-align-center">{{ about.heading }}</h4>
                                <h4 class="uk-subheading uk-align-center">{{ about.subheading }}</h4>
                                <p class="uk-text-muted uk-align-center">{{ about.body }}</p>
                            </p>
                            
                        </div>





                    {% elseif about.align == 'centered' %}



                        <div class="uk-width-1-1 uk-vertical-align-middle uk-text-center">
                            {% if page.media[about.img] %}
                            <img class="uk-thumbnail uk-align-center uk-border-circle" src="{{ page.media[about.img].url }}" alt="">
                            {% else %}
                            <figure class="uk-overlay uk-border-circle">
                                <img class="uk-thumbnail uk-align-center uk-border-circle uk-vertical-align-middle" src="{{ page.media.images|randomize|first.sepia.url }}" width="" height="" alt="">
                                <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
                                    <div><h4 class="uk-subheading">{{ about.alttext }}</h4></div>
                                </figcaption>
                            </figure>
                            {% endif %}
                        </div>



                    {% elseif about.align == 'left' %}

                        <div class="uk-width-small-2-5 uk-hidden-medium uk-hidden-large uk-vertical-align-middle uk-text-center">
                            {% if page.media[about.img] %}
                                <img class="uk-thumbnail uk-align-center uk-border-circle uk-vertical-align-middle" src="{{ page.media[about.img].url }}" alt="{{ about.alttext }}">
                            {% else %}
                                <h4 class="uk-text-center">{{ about.alttext }}</h4>
                            {% endif %}
                        </div>

                        <div class="uk-width-small-3-5 uk-hidden-medium uk-hidden-large uk-vertical-align-top uk-text-center">
                            <p class="uk-clearfix">
   
                                <h4 class="timeline-heading uk-align-center">{{ about.heading }}</h4>
                                <h4 class="subheading uk-align-center">{{ about.subheading }}</h4>

                                <p class="uk-text-muted uk-align-center">{{ about.body }}</p>
                            </p>
                            
                        </div>



                        <div class="uk-width-medium-2-5 uk-hidden-small uk-vertical-align-top uk-text-right">
                            <p class="uk-clearfix">
   
                                <h4 class="timeline-heading uk-align-right">{{ about.heading }}</h4>
                                <h4 class="subheading uk-align-right">{{ about.subheading }}</h4>
                                <p class="uk-text-muted uk-align-right">{{ about.body }}</p>
                            </p>
                            
                        </div>



                        <div class="uk-width-medium-1-5 uk-hidden-small uk-vertical-align-middle">
                            {% if page.media[about.img] %}
                            <img class="uk-thumbnail uk-align-center uk-border-circle uk-vertical-align-middle" src="{{ page.media[about.img].url }}" alt="">
                            {% else %}
                            <h4 class="uk-text-center">{{ about.alttext }}</h4>
                            {% endif %}
                        </div>

                        <div class="uk-width-medium-2-5 uk-hidden-small">
                            &nbsp;
                        </div>


                    {% endif %}
            
                {% endfor %}
            </ul>
        </div>   
</section>
