<header>
    <div class="uk-cover-background uk-position-relative uk-border-rounded uk-text-center" style="height: 300px; background-image: url({{ page.media[page.header.cover].url }});">
        <img class="uk-invisible" src="{{ page.media[page.header.cover].url }}" width="600" height="400" alt="">
        <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
            <div class="headerContent">
            	<p>{{ content }}</p>
            	<div class="uk-flex uk-flex-center uk-flex-middle uk-flex-space-around">
            		{% for button in page.header.buttons %}
	            	<a class="page-scroll uk-button {% if button.primary %}uk-button-primary{% endif %}" href="{{ button.url }}" data-uk-smooth-scroll="{offset: 70}">{{ button.text }}</a>
	            	{% endfor %}
	        	</div>
	        	
	        	
	        </div>
		</div>
		
    </div>

</header>

