
{% set blog_url = page.parent.url %}

<div {% if page.taxonomy.category|first %}data-uk-filter="filter-{{ page.taxonomy.category|first }}"{% endif %}>                            
    <div class="uk-panel uk-panel-box">
        {% if page.taxonomy.category|first %}
            <div class="uk-panel-badge">
                <a class="uk-badge" href="{{ blog_url }}/category{{ config.system.param_sep }}{{ page.taxonomy.category|first }}" class="uk-badge">
                    {{ page.taxonomy.category|first }}
                </a>
            </div>
        {% endif %}
        {% if page.header.link %}
            <h3 class="uk-panel-title">
                {% if page.header.continue_link is not sameas(false) %}
                <a href="{{ page.url }}"><i class="uk-icon-exclamation-circle"></i></a>
                {% endif %}
                <a href="{{ page.header.link }}">{{ page.title }}</a>
            </h3>
        {% else %}
            <h3 class="uk-panel-title"><a href="{{ page.url }}">{{ page.title }}</a></h3>
        {% endif %}
        <p class="uk-article-meta">
        {% if page.author %}Author: {{ page.author }}&nbsp;{% endif %}
        {% if page.date %}Date: <em>{{ page.date|date(config.date_format) }}</em>&nbsp;{% endif %}
        </p>    
        <div id="{{ page.date }}" class="searchContent">
            <p>{{ page.summary }}</p>
        </div>
        <p class="uk-article-meta">
        {% if page.taxonomy.tag %}Keywords: 
                {% for tag in page.taxonomy.tag %}
                    <em><a class="uk-badge" href="{{ blog_url }}/tag:{{ tag }}">{{ tag }}</a></em>
                {% endfor %}
        {% endif %}
    </p>
    </div>
</div>

