{% if pagination|length > 1 %}

<ul class="uk-pagination">
    {% if pagination.hasPrev %}
        <li><a rel="prev" href="{{ page.url }}{{ pagination.params }}{{ pagination.prevUrl }}">&laquo;</a></li>
    {% else %}
        <li class="uk-disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for paginate in pagination %}

        {% if paginate.isCurrent %}
            <li class="uk-active"><span>{{ paginate.number }}</span></li>
        {% elseif paginate.isInDelta %}
            <li><a href="{{ page.url }}{{ pagination.params }}{{ paginate.url }}">{{ paginate.number }}</a></li>
        {% elseif paginate.isDeltaBorder %}
            <li><span>&hellip;</span></li>
        {% endif %}

    {% endfor %}
    {% if pagination.hasNext %}
        <li><a rel="next" href="{{ page.url }}{{ pagination.params }}{{ pagination.nextUrl }}">&raquo;</a></li>
    {% else %}
        <li class="uk-disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>

{% endif %}
