
{% set blog_url = page.parent.url %}

<div data-uk-filter="{% if page.taxonomy.category|first %}category-filter-{{ page.taxonomy.category|first }},{% endif %}
{% if page.taxonomy.tag %}{% for tag in page.taxonomy.tag %}tag-filter-{{ tag }}{{ loop.last ? '' : ',' }}{% endfor %}{% endif %}">                            
    <div class="uk-panel uk-panel-box">
        {% if page.taxonomy.category|first %}
            <div class="uk-panel-badge">
                <a class="uk-badge" href="{{ blog_url }}/category{{ config.system.param_sep }}{{ page.taxonomy.category|first }}" class="uk-badge">
                    {{ page.taxonomy.category|first }}
                </a>
            </div>
        {% endif %}

        {% if page.header.link %}
            <h3 class="uk-panel-title">
                {% if page.header.continue_link is not sameas(false) %}
                <a href="{{ page.url }}"><i class="uk-icon-{{ config.themes.library.daringLinkIcon }}"></i></a>
                {% endif %}
                <a href="{{ page.header.link }}">{{ page.title }}</a>
            </h2>
        {% else %}
            <h3 class="uk-panel-title"><a href="{{ page.url }}">{{ page.title }}</a></h3>
        {% endif %}
        <p class="uk-article-meta">
        {% if page.author %}Author: {{ page.author }}&nbsp;{% endif %}
        {% if page.date %}Last Modified: <em>{{ page.date|nicetime(false) }}</em>&nbsp;{% endif %}
        </p>    
        <div id="{{ page.date }}" class="searchContent">
            <p>{{ page.summary }}</p>
        </div>
        <p class="uk-article-meta">
        {% if page.taxonomy.tag %}Keywords: 
                {% for tag in page.taxonomy.tag %}
                    <em><a class="uk-badge uk-badge-success" href="{{ blog_url }}/tag:{{ tag }}">{{ tag }}</a></em>
                {% endfor %}
        {% endif %}
    </p>
    </div>
</div>

