<section id="posts">

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-container uk-container-center uk-text-center">
                {{ content }}
            </div>
        </div>
    </div>  
	<div class="uk-cover-background uk-position-relative uk-border-rounded uk-text-center" style="height: 300px; background-image: url({{ page.media[page.header.cover].url }});">
	    <img class="uk-invisible" src="{{ page.media[page.header.cover].url }}" width="600" height="400" alt="">
	    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
	        <div class="headerContent uk-width-9-10">
	        	<div class="uk-hidden-small uk-hidden-medium uk-grid-width-large-1-3 tm-grid-heights" data-uk-grid="{gutter: 30}" data-uk-grid-match="{target:'.uk-panel'}">
				{% for page in page.find('/news').children.published.slice(0,3) %}
	        		<div>

	                    <div class="uk-panel uk-panel-box">
	                        {% if page.taxonomy.category|first %}
	                            <div class="uk-panel-badge">
	                                <a class="uk-badge" href="{{ page.parent.url }}/category:{{ page.taxonomy.category|first }}">{{ page.taxonomy.category|first }}</a>
	                            </div> 
	                        {% endif %}



	                        {% if page.header.link %}
	                            <h3 class="uk-panel-title uk-align-left">
	                                {% if page.header.continue_link is not sameas(false) %}
	                                <a href="{{ page.url }}"><i class="uk-icon-exclamation-circle"></i></a>
	                                {% endif %}
	                                <a href="{{ page.header.link }}">{{ page.title }}</a>
	                            </h3>
	                        {% else %}
	                            <h3 class="uk-panel-title uk-align-left"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
	                        {% endif %}




	                        <p class="uk-clearfix">{{ page.summary|truncate(200) }}</p>
	                    </div>

	                </div>
	               	{% endfor %}
	        	</div>

	        	<div class="uk-hidden-small uk-grid-width-medium-1-2 uk-hidden-large tm-grid-heights" data-uk-grid="{gutter: 30}" data-uk-grid-match="{target:'.uk-panel'}">
				{% for page in page.find('/news').children.published.slice(0,2) %}
	        		<div>

	                    <div class="uk-panel uk-panel-box">
	                        {% if page.taxonomy.category|first %}
	                            <div class="uk-panel-badge">
	                                <a class="uk-badge" href="{{ page.parent.url }}/category:{{ page.taxonomy.category|first }}">{{ page.taxonomy.category|first }}</a>
	                            </div> 
	                        {% endif %}



	                        {% if page.header.link %}
	                            <h3 class="uk-panel-title uk-align-left">
	                                {% if page.header.continue_link is not sameas(false) %}
	                                <a href="{{ page.url }}"><i class="uk-icon-exclamation-circle"></i></a>
	                                {% endif %}
	                                <a href="{{ page.header.link }}">{{ page.title }}</a>
	                            </h3>
	                        {% else %}
	                            <h3 class="uk-panel-title uk-align-left"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
	                        {% endif %}




	                        <p class="uk-clearfix">{{ page.summary|truncate(200) }}</p>
	                    </div>

	                </div>
	               	{% endfor %}
	        	</div>


	        	<div class="uk-grid-small-1-1 uk-hidden-medium uk-hidden-large tm-grid-heights" data-uk-grid="{gutter: 30}" data-uk-grid-match="{target:'.uk-panel'}">
				{% for page in page.find('/news').children.published.slice(0,1) %}
	        		<div>

	                    <div class="uk-panel uk-panel-box">
	                        {% if page.taxonomy.category|first %}
	                            <div class="uk-panel-badge">
	                                <a class="uk-badge" href="{{ page.parent.url }}/category:{{ page.taxonomy.category|first }}">{{ page.taxonomy.category|first }}</a>
	                            </div> 
	                        {% endif %}



	                        {% if page.header.link %}
	                            <h3 class="uk-panel-title uk-align-left">
	                                {% if page.header.continue_link is not sameas(false) %}
	                                <a href="{{ page.url }}"><i class="uk-icon-exclamation-circle"></i></a>
	                                {% endif %}
	                                <a href="{{ page.header.link }}">{{ page.title }}</a>
	                            </h3>
	                        {% else %}
	                            <h3 class="uk-panel-title uk-align-left"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
	                        {% endif %}




	                        <p class="uk-clearfix">{{ page.summary|truncate(430) }}</p>
	                    </div>

	                </div>
	               	{% endfor %}
	        	</div>
	        	
	        </div>
		</div>
		
	</div>

</section>
