<section id="services">

    <div class="uk-grid">
        <div class="uk-width-1-1 uk-containter-center uk-text-center">
            {{ content }}
        </div>
    </div>
    <div class="uk-grid uk-containter uk-width-1-1" data-uk-grid="{gutter: 10}">
        {% for service in page.header.services %}
            <div class="uk-panel uk-width-small-1-1 uk-width-medium-1-3">

                <div class="uk-grid">
                    <div class="uk-width-1-6">
                        {% if service.icon %}<i class="uk-icon-{{ service.icon }} uk-icon-large uk-text-primary"></i>{% endif %}
                    </div>
                    <div class="uk-width-5-6">
                        {% if service.url %}<a href="{{ service.url }}" class="uk-text-primary">{% endif %} 
                            <h2 class="uk-h3">
                                {{ service.header }}
                            </h2>
                        {% if service.url %}</a>{% endif %} 
                        {% if service.text %}
                            <p class="text-muted">{{ service.text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


</section>
